* {
    outline: none;
    font-family: 'Segoe WPC', 'Segoe UI', SFUIText-Light, HelveticaNeue-Light, sans-serif, 'Droid Sans Fallback';
}

.btn {
    align-items: flex-start;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    font-size: 11px;
    text-decoration: none;
    background-color: transparent;
    border: solid 1px #aaa;
    border-radius: 5px;
    color: #aaa;
}

button:disabled {
    cursor: not-allowed;
}