@font-face {
    font-family: 'entypo';
    src:
        url('../fonts/entypo.ttf?jjr6ly') format('truetype'),
        url('../fonts/entypo.woff?jjr6ly') format('woff');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'entypo' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-add-to-list:before {
    content: "\e900";
}
.ico-classic-computer:before {
    content: "\e901";
}
.ico-controller-fast-backward:before {
    content: "\e902";
}
.ico-creative-commons-attribution:before {
    content: "\e903";
}
.ico-creative-commons-noderivs:before {
    content: "\e904";
}
.ico-creative-commons-noncommercial-eu:before {
    content: "\e905";
}
.ico-creative-commons-noncommercial-us:before {
    content: "\e906";
}
.ico-creative-commons-public-domain:before {
    content: "\e907";
}
.ico-creative-commons-remix:before {
    content: "\e908";
}
.ico-creative-commons-share:before {
    content: "\e909";
}
.ico-creative-commons-sharealike:before {
    content: "\e90a";
}
.ico-creative-commons:before {
    content: "\e90b";
}
.ico-document-landscape:before {
    content: "\e90c";
}
.ico-remove-user:before {
    content: "\e90d";
}
.ico-warning:before {
    content: "\e90e";
}
.ico-arrow-bold-down:before {
    content: "\e90f";
}
.ico-arrow-bold-left:before {
    content: "\e910";
}
.ico-arrow-bold-right:before {
    content: "\e911";
}
.ico-arrow-bold-up:before {
    content: "\e912";
}
.ico-arrow-down:before {
    content: "\e913";
}
.ico-arrow-left:before {
    content: "\e914";
}
.ico-arrow-long-down:before {
    content: "\e915";
}
.ico-arrow-long-left:before {
    content: "\e916";
}
.ico-arrow-long-right:before {
    content: "\e917";
}
.ico-arrow-long-up:before {
    content: "\e918";
}
.ico-arrow-right:before {
    content: "\e919";
}
.ico-arrow-up:before {
    content: "\e91a";
}
.ico-arrow-with-circle-down:before {
    content: "\e91b";
}
.ico-arrow-with-circle-left:before {
    content: "\e91c";
}
.ico-arrow-with-circle-right:before {
    content: "\e91d";
}
.ico-arrow-with-circle-up:before {
    content: "\e91e";
}
.ico-bookmark:before {
    content: "\e91f";
}
.ico-bookmarks:before {
    content: "\e920";
}
.ico-chevron-down:before {
    content: "\e921";
}
.ico-chevron-left:before {
    content: "\e922";
}
.ico-chevron-right:before {
    content: "\e923";
}
.ico-chevron-small-down:before {
    content: "\e924";
}
.ico-chevron-small-left:before {
    content: "\e925";
}
.ico-chevron-small-right:before {
    content: "\e926";
}
.ico-chevron-small-up:before {
    content: "\e927";
}
.ico-chevron-thin-down:before {
    content: "\e928";
}
.ico-chevron-thin-left:before {
    content: "\e929";
}
.ico-chevron-thin-right:before {
    content: "\e92a";
}
.ico-chevron-thin-up:before {
    content: "\e92b";
}
.ico-chevron-up:before {
    content: "\e92c";
}
.ico-chevron-with-circle-down:before {
    content: "\e92d";
}
.ico-chevron-with-circle-left:before {
    content: "\e92e";
}
.ico-chevron-with-circle-right:before {
    content: "\e92f";
}
.ico-chevron-with-circle-up:before {
    content: "\e930";
}
.ico-cloud:before {
    content: "\e931";
}
.ico-controller-fast-forward:before {
    content: "\e932";
}
.ico-controller-jump-to-start:before {
    content: "\e933";
}
.ico-controller-next:before {
    content: "\e934";
}
.ico-controller-paus:before {
    content: "\e935";
}
.ico-controller-play:before {
    content: "\e936";
}
.ico-controller-record:before {
    content: "\e937";
}
.ico-controller-stop:before {
    content: "\e938";
}
.ico-controller-volume:before {
    content: "\e939";
}
.ico-dot-single:before {
    content: "\e93a";
}
.ico-dots-three-horizontal:before {
    content: "\e93b";
}
.ico-dots-three-vertical:before {
    content: "\e93c";
}
.ico-dots-two-horizontal:before {
    content: "\e93d";
}
.ico-dots-two-vertical:before {
    content: "\e93e";
}
.ico-download:before {
    content: "\e93f";
}
.ico-emoji-flirt:before {
    content: "\e940";
}
.ico-install:before {
    content: "\e941";
}
.ico-layers:before {
    content: "\e942";
}
.ico-open-book:before {
    content: "\e943";
}
.ico-resize-100:before {
    content: "\e944";
}
.ico-resize-full-screen:before {
    content: "\e945";
}
.ico-save:before {
    content: "\e946";
}
.ico-select-arrows:before {
    content: "\e947";
}
.ico-sound-mute:before {
    content: "\e948";
}
.ico-sound:before {
    content: "\e949";
}
.ico-trash:before {
    content: "\e94a";
}
.ico-triangle-down:before {
    content: "\e94b";
}
.ico-triangle-left:before {
    content: "\e94c";
}
.ico-triangle-right:before {
    content: "\e94d";
}
.ico-triangle-up:before {
    content: "\e94e";
}
.ico-uninstall:before {
    content: "\e94f";
}
.ico-upload-to-cloud:before {
    content: "\e950";
}
.ico-upload:before {
    content: "\e951";
}
.ico-add-user:before {
    content: "\e952";
}
.ico-address:before {
    content: "\e953";
}
.ico-adjust:before {
    content: "\e954";
}
.ico-air:before {
    content: "\e955";
}
.ico-aircraft-landing:before {
    content: "\e956";
}
.ico-aircraft-take-off:before {
    content: "\e957";
}
.ico-aircraft:before {
    content: "\e958";
}
.ico-align-bottom:before {
    content: "\e959";
}
.ico-align-horizontal-middle:before {
    content: "\e95a";
}
.ico-align-left:before {
    content: "\e95b";
}
.ico-align-right:before {
    content: "\e95c";
}
.ico-align-top:before {
    content: "\e95d";
}
.ico-align-vertical-middle:before {
    content: "\e95e";
}
.ico-archive:before {
    content: "\e95f";
}
.ico-area-graph:before {
    content: "\e960";
}
.ico-attachment:before {
    content: "\e961";
}
.ico-awareness-ribbon:before {
    content: "\e962";
}
.ico-back-in-time:before {
    content: "\e963";
}
.ico-back:before {
    content: "\e964";
}
.ico-bar-graph:before {
    content: "\e965";
}
.ico-battery:before {
    content: "\e966";
}
.ico-beamed-note:before {
    content: "\e967";
}
.ico-bell:before {
    content: "\e968";
}
.ico-blackboard:before {
    content: "\e969";
}
.ico-block:before {
    content: "\e96a";
}
.ico-book:before {
    content: "\e96b";
}
.ico-bowl:before {
    content: "\e96c";
}
.ico-box:before {
    content: "\e96d";
}
.ico-briefcase:before {
    content: "\e96e";
}
.ico-browser:before {
    content: "\e96f";
}
.ico-brush:before {
    content: "\e970";
}
.ico-bucket:before {
    content: "\e971";
}
.ico-cake:before {
    content: "\e972";
}
.ico-calculator:before {
    content: "\e973";
}
.ico-calendar:before {
    content: "\e974";
}
.ico-camera:before {
    content: "\e975";
}
.ico-ccw:before {
    content: "\e976";
}
.ico-chat:before {
    content: "\e977";
}
.ico-check:before {
    content: "\e978";
}
.ico-circle-with-cross:before {
    content: "\e979";
}
.ico-circle-with-minus:before {
    content: "\e97a";
}
.ico-circle-with-plus:before {
    content: "\e97b";
}
.ico-circle:before {
    content: "\e97c";
}
.ico-circular-graph:before {
    content: "\e97d";
}
.ico-clapperboard:before {
    content: "\e97e";
}
.ico-clipboard:before {
    content: "\e97f";
}
.ico-clock:before {
    content: "\e980";
}
.ico-code:before {
    content: "\e981";
}
.ico-cog:before {
    content: "\e982";
}
.ico-colours:before {
    content: "\e983";
}
.ico-compass:before {
    content: "\e984";
}
.ico-copy:before {
    content: "\e985";
}
.ico-credit-card:before {
    content: "\e986";
}
.ico-credit:before {
    content: "\e987";
}
.ico-cross:before {
    content: "\e988";
}
.ico-cup:before {
    content: "\e989";
}
.ico-cw:before {
    content: "\e98a";
}
.ico-cycle:before {
    content: "\e98b";
}
.ico-database:before {
    content: "\e98c";
}
.ico-dial-pad:before {
    content: "\e98d";
}
.ico-direction:before {
    content: "\e98e";
}
.ico-document:before {
    content: "\e98f";
}
.ico-documents:before {
    content: "\e990";
}
.ico-drink:before {
    content: "\e991";
}
.ico-drive:before {
    content: "\e992";
}
.ico-drop:before {
    content: "\e993";
}
.ico-edit:before {
    content: "\e994";
}
.ico-email:before {
    content: "\e995";
}
.ico-emoji-happy:before {
    content: "\e996";
}
.ico-emoji-neutral:before {
    content: "\e997";
}
.ico-emoji-sad:before {
    content: "\e998";
}
.ico-erase:before {
    content: "\e999";
}
.ico-eraser:before {
    content: "\e99a";
}
.ico-export:before {
    content: "\e99b";
}
.ico-eye:before {
    content: "\e99c";
}
.ico-feather:before {
    content: "\e99d";
}
.ico-flag:before {
    content: "\e99e";
}
.ico-flash:before {
    content: "\e99f";
}
.ico-flashlight:before {
    content: "\e9a0";
}
.ico-flat-brush:before {
    content: "\e9a1";
}
.ico-folder-images:before {
    content: "\e9a2";
}
.ico-folder-music:before {
    content: "\e9a3";
}
.ico-folder-video:before {
    content: "\e9a4";
}
.ico-folder:before {
    content: "\e9a5";
}
.ico-forward:before {
    content: "\e9a6";
}
.ico-funnel:before {
    content: "\e9a7";
}
.ico-game-controller:before {
    content: "\e9a8";
}
.ico-gauge:before {
    content: "\e9a9";
}
.ico-globe:before {
    content: "\e9aa";
}
.ico-graduation-cap:before {
    content: "\e9ab";
}
.ico-grid:before {
    content: "\e9ac";
}
.ico-hair-cross:before {
    content: "\e9ad";
}
.ico-hand:before {
    content: "\e9ae";
}
.ico-heart-outlined:before {
    content: "\e9af";
}
.ico-heart:before {
    content: "\e9b0";
}
.ico-help-with-circle:before {
    content: "\e9b1";
}
.ico-help:before {
    content: "\e9b2";
}
.ico-home:before {
    content: "\e9b3";
}
.ico-hour-glass:before {
    content: "\e9b4";
}
.ico-image-inverted:before {
    content: "\e9b5";
}
.ico-image:before {
    content: "\e9b6";
}
.ico-images:before {
    content: "\e9b7";
}
.ico-inbox:before {
    content: "\e9b8";
}
.ico-infinity:before {
    content: "\e9b9";
}
.ico-info-with-circle:before {
    content: "\e9ba";
}
.ico-info:before {
    content: "\e9bb";
}
.ico-key:before {
    content: "\e9bc";
}
.ico-keyboard:before {
    content: "\e9bd";
}
.ico-lab-flask:before {
    content: "\e9be";
}
.ico-landline:before {
    content: "\e9bf";
}
.ico-language:before {
    content: "\e9c0";
}
.ico-laptop:before {
    content: "\e9c1";
}
.ico-leaf:before {
    content: "\e9c2";
}
.ico-level-down:before {
    content: "\e9c3";
}
.ico-level-up:before {
    content: "\e9c4";
}
.ico-lifebuoy:before {
    content: "\e9c5";
}
.ico-light-bulb:before {
    content: "\e9c6";
}
.ico-light-down:before {
    content: "\e9c7";
}
.ico-light-up:before {
    content: "\e9c8";
}
.ico-line-graph:before {
    content: "\e9c9";
}
.ico-link:before {
    content: "\e9ca";
}
.ico-list:before {
    content: "\e9cb";
}
.ico-location-pin:before {
    content: "\e9cc";
}
.ico-location:before {
    content: "\e9cd";
}
.ico-lock-open:before {
    content: "\e9ce";
}
.ico-lock:before {
    content: "\e9cf";
}
.ico-log-out:before {
    content: "\e9d0";
}
.ico-login:before {
    content: "\e9d1";
}
.ico-loop:before {
    content: "\e9d2";
}
.ico-magnet:before {
    content: "\e9d3";
}
.ico-magnifying-glass:before {
    content: "\e9d4";
}
.ico-mail:before {
    content: "\e9d5";
}
.ico-man:before {
    content: "\e9d6";
}
.ico-map:before {
    content: "\e9d7";
}
.ico-mask:before {
    content: "\e9d8";
}
.ico-medal:before {
    content: "\e9d9";
}
.ico-megaphone:before {
    content: "\e9da";
}
.ico-menu:before {
    content: "\e9db";
}
.ico-message:before {
    content: "\e9dc";
}
.ico-mic:before {
    content: "\e9dd";
}
.ico-minus:before {
    content: "\e9de";
}
.ico-mobile:before {
    content: "\e9df";
}
.ico-modern-mic:before {
    content: "\e9e0";
}
.ico-moon:before {
    content: "\e9e1";
}
.ico-mouse:before {
    content: "\e9e2";
}
.ico-music:before {
    content: "\e9e3";
}
.ico-network:before {
    content: "\e9e4";
}
.ico-new-message:before {
    content: "\e9e5";
}
.ico-new:before {
    content: "\e9e6";
}
.ico-news:before {
    content: "\e9e7";
}
.ico-note:before {
    content: "\e9e8";
}
.ico-notification:before {
    content: "\e9e9";
}
.ico-old-mobile:before {
    content: "\e9ea";
}
.ico-old-phone:before {
    content: "\e9eb";
}
.ico-palette:before {
    content: "\e9ec";
}
.ico-paper-plane:before {
    content: "\e9ed";
}
.ico-pencil:before {
    content: "\e9ee";
}
.ico-phone:before {
    content: "\e9ef";
}
.ico-pie-chart:before {
    content: "\e9f0";
}
.ico-pin:before {
    content: "\e9f1";
}
.ico-plus:before {
    content: "\e9f2";
}
.ico-popup:before {
    content: "\e9f3";
}
.ico-power-plug:before {
    content: "\e9f4";
}
.ico-price-ribbon:before {
    content: "\e9f5";
}
.ico-price-tag:before {
    content: "\e9f6";
}
.ico-print:before {
    content: "\e9f7";
}
.ico-progress-empty:before {
    content: "\e9f8";
}
.ico-progress-full:before {
    content: "\e9f9";
}
.ico-progress-one:before {
    content: "\e9fa";
}
.ico-progress-two:before {
    content: "\e9fb";
}
.ico-publish:before {
    content: "\e9fc";
}
.ico-quote:before {
    content: "\e9fd";
}
.ico-radio:before {
    content: "\e9fe";
}
.ico-reply-all:before {
    content: "\e9ff";
}
.ico-reply:before {
    content: "\ea00";
}
.ico-retweet:before {
    content: "\ea01";
}
.ico-rocket:before {
    content: "\ea02";
}
.ico-round-brush:before {
    content: "\ea03";
}
.ico-rss:before {
    content: "\ea04";
}
.ico-ruler:before {
    content: "\ea05";
}
.ico-scissors:before {
    content: "\ea06";
}
.ico-share-alternitive:before {
    content: "\ea07";
}
.ico-share:before {
    content: "\ea08";
}
.ico-shareable:before {
    content: "\ea09";
}
.ico-shield:before {
    content: "\ea0a";
}
.ico-shop:before {
    content: "\ea0b";
}
.ico-shopping-bag:before {
    content: "\ea0c";
}
.ico-shopping-basket:before {
    content: "\ea0d";
}
.ico-shopping-cart:before {
    content: "\ea0e";
}
.ico-shuffle:before {
    content: "\ea0f";
}
.ico-signal:before {
    content: "\ea10";
}
.ico-sound-mix:before {
    content: "\ea11";
}
.ico-sports-club:before {
    content: "\ea12";
}
.ico-spreadsheet:before {
    content: "\ea13";
}
.ico-squared-cross:before {
    content: "\ea14";
}
.ico-squared-minus:before {
    content: "\ea15";
}
.ico-squared-plus:before {
    content: "\ea16";
}
.ico-star-outlined:before {
    content: "\ea17";
}
.ico-star:before {
    content: "\ea18";
}
.ico-stopwatch:before {
    content: "\ea19";
}
.ico-suitcase:before {
    content: "\ea1a";
}
.ico-swap:before {
    content: "\ea1b";
}
.ico-sweden:before {
    content: "\ea1c";
}
.ico-switch:before {
    content: "\ea1d";
}
.ico-tablet:before {
    content: "\ea1e";
}
.ico-tag:before {
    content: "\ea1f";
}
.ico-text-document-inverted:before {
    content: "\ea20";
}
.ico-text-document:before {
    content: "\ea21";
}
.ico-text:before {
    content: "\ea22";
}
.ico-thermometer:before {
    content: "\ea23";
}
.ico-thumbs-down:before {
    content: "\ea24";
}
.ico-thumbs-up:before {
    content: "\ea25";
}
.ico-thunder-cloud:before {
    content: "\ea26";
}
.ico-ticket:before {
    content: "\ea27";
}
.ico-time-slot:before {
    content: "\ea28";
}
.ico-tools:before {
    content: "\ea29";
}
.ico-traffic-cone:before {
    content: "\ea2a";
}
.ico-tree:before {
    content: "\ea2b";
}
.ico-trophy:before {
    content: "\ea2c";
}
.ico-tv:before {
    content: "\ea2d";
}
.ico-typing:before {
    content: "\ea2e";
}
.ico-unread:before {
    content: "\ea2f";
}
.ico-untag:before {
    content: "\ea30";
}
.ico-user:before {
    content: "\ea31";
}
.ico-users:before {
    content: "\ea32";
}
.ico-v-card:before {
    content: "\ea33";
}
.ico-video:before {
    content: "\ea34";
}
.ico-wallet:before {
    content: "\ea35";
}
.ico-picasa:before {
    content: "\ea36";
}
.ico-qq:before {
    content: "\ea37";
}
.ico-sina-weibo:before {
    content: "\ea38";
}
.ico-facebook-with-circle:before {
    content: "\ea39";
}
.ico-facebook:before {
    content: "\ea3a";
}
.ico-flickr-with-circle:before {
    content: "\ea3b";
}
.ico-flickr:before {
    content: "\ea3c";
}
.ico-github-with-circle:before {
    content: "\ea3d";
}
.ico-github:before {
    content: "\ea3e";
}
.ico-google-with-circle:before {
    content: "\ea3f";
}
.ico-google:before {
    content: "\ea40";
}
.ico-tumblr:before {
    content: "\ea41";
}
.ico-twitter-with-circle:before {
    content: "\ea42";
}
.ico-twitter:before {
    content: "\ea43";
}

