button.import-new-manga {
    background-color: transparent;
    border: dashed 2px #fff;
    border-radius: 10px;
    height: 131px;
    width: 200px;
    color: #fff;
    font-size: 20px;
}

button.import-new-manga:not(:disabled) {
    cursor: pointer;
}

.container.import-manage-add {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.import-manage-edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: scroll;
    padding: 10px;
}

.new-manga-wrap {
    height: 200px;
    width: 140px;
    margin: 5px;
    background-color: #333;
    position: relative;
    display: flex;
    align-items: center;
}

.new-manga-wrap img {
    max-width: 100%;
    max-height: 100%;
}

.new-manga-wrap.continue-add {
    height: 198px;
    width: 138px;
    background-color: transparent;
    border: dashed 1px #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.new-manga-wrap.empty {
    visibility: hidden;
}

button.import-confirm {
    position: absolute;
    left: 50%;
    width: 120px;
    height: 40px;
    border: none;
    background-color: #1DBD1D;
    color: #fff;
    transform: translateX(-60px);
    bottom: 50px;
    cursor: pointer;
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
    font-size: 14px;            
}