.control-bar {
    opacity: 0;
    width: 300px;
    position: absolute;
    background: rgba(60, 60, 60, 0.7);
    z-index: 10;
    transition: opacity .3s;
    border-radius: 6px;
    bottom: 40px;
    left: 50px;
    left: 50%;
    transform: translateX(-150px);
    display: flex;
    flex-direction: column;
    padding: 10px;
}
body:hover .control-bar {
    opacity: 1;
}
.control-bar > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 30px;
}

.control-bar button {
    height: 24px;
    width: 30px;
    border: none;
    background: none;
    color: #aaa;
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 1px #444;
}
.control-bar button:not(:disabled):hover {
    color: #fff;
}

.control-bar input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}

/* 轨道 */
.control-bar input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: #aaa;
}

/* 滑块 */
.control-bar input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50px;
    background: #aaa;
    height: 16px;
    width: 16px;
    border: none;
    margin-top: -6px;
    box-shadow: 1px 1px 1px #444;
}

.control-bar input[type=range]::-webkit-slider-thumb:hover,
.control-bar input[type=range]:active::-webkit-slider-thumb {
    background: #fff;
}

.control-bar .page-num {
    position: absolute;
    left: 50%;
    top: -50px;
    background: rgba(60,60,60,.7);
    width: 40px;
    transform: translateX(-20px);
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 6px;
    opacity: 0;
    transition: opacity .3s;
}

.control-bar input[type=range]:active+.page-num,
.control-bar input[type=range]:hover+.page-num {
    opacity: 1;
}

.page-container {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    overflow: auto;
}
.page-container .wrap.default {
    flex: 1;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-container .wrap.default > img,
.page-container .wrap.default > canvas {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    flex: 1;
}